.home {
    background-color: #e6ebe0;
    width: 100vmax;
    height: 100vh;
    padding-top: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: #2b2c297e;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    text-align: left;
    padding: 20px;
}

.row1{
    font-size: 60px;
}

.row2{
    font-size: 30px;
    font-weight: bolder;
}

.search-input{
    width: 600px;
}

.image{
    width: 30%;
}

.btn-primary{
    background-color: rgb(0, 0, 0);
    border: 2px solid #000000;
    color: white;
    width: 140px;

}