/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.new-navbar{
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer{
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home {
  min-height: 84vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.btn-primary{
  background-color: #edae49;
}

.book-list {
  min-height: 84vh;
  width: 100%;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.login {
  min-height: 84vh;
  width: 100%;
  display: flex;
  /*grid-template-columns: repeat(3, 1fr);*/
  justify-items: center;
  padding-top: 50px;
}

.book{
  text-align: center;
}

img {
 width: 200px;
 height: 300px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rating-icon {
  color: #edae49;
  margin-left: 10px;
  margin-right: 10px;
}


